html {
  overflow-y: scroll;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;    
}

body {
  margin: 0;
}

.editor {
  font-family: sans-serif;
  width: 80%;
  margin: 0 auto;
  vertical-align: top;
  box-shadow: 0px 30px 50px 10px #888888;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .editor {
    width: 100%;
    margin: 0;
    font-size: 3rem;
  }
}

.module, .function {
  display: block;
  padding: .3rem .3rem;
  margin: .3rem .2rem;
  background-color: #112b00;
  border: .3rem solid #bbd847;
  color: #b3ff80;
}

.module {
  padding: 4px;
  margin: 0;
}

.assignment, .function .expressions, .binary, .ternary, .call, .new {
  display: block;
  padding: .2rem;
  margin: .3rem;
  background-color: #bbd847;
  color: #222b00;
}

.binary, .ternary, .var, .call, .new, .keyword {
  display: inline-block;
}

.call {
  margin: 0;
}

.assignment, .function > .expressions {
  padding-left: .4rem;
}

.assignment > .rvalue, .if > .then, .if > div > .else {
  display: block;
  margin: .3rem .3rem .3rem 0;
  padding: .1rem;
  background-color: #cbe87;
  border: .3rem solid #447821;
  color: #222b00;
}

.if > .then, .if > div > .else {
  display: inline-block;
  border: .4rem solid #112b00;
  margin: .2rem .4rem;
}

.assignment > .op {
  float: right;
  margin: .3rem .3rem 0 0;
}

.assignment {
  margin: .4rem 0;
}

.op, .entry > span {
  display: inline-block;
  font-weight: bold;
}

.prop {
  margin: 0 .2rem;
  font-weight: bold;
  font-size: 1.2em;
}

.parens {
  padding-left: .4rem;
  padding-right: .4rem;
}

.ref {
  display: inline-block;
}

.keyword, .var > .keyword, .args > .arg {
  display: inline-block;
  padding: .2rem .4rem;
  margin: .1rem .2rem;
  background-color: #ccff00;
  color: #000;
}

.args, .arg {
  display: inline-block;
  margin: 0 .1rem;
  padding: .2rem;
  color: #000;
  background-color: #447821;
}

.args > span {
  font-weight: bold;
}

.function > .args {
  margin-left: .4rem;
}

.function > .keyword {
  margin-left: .4rem;
}

.function > .collapse {
  margin: .8rem .4rem 0 4px;
  float: right;
  width: .8em;
  height: .8em;
  background-color: #00a280;
  border: .1em solid #000;
  border-radius: 1em;
}

.function > .collapse:hover {
  background-color: #f7ff9d;
}

.literal, .hash .entry > .key {
  display: inline-block;
  padding: .2rem .4rem;
  margin: .1rem .2rem;
  background-color: #5fbcd3;
  color: #00222b;
}

.parens {
  display: inline-block;
  border: .2rem solid #112b00;
}

.hash, .hash .entry {
  display: block;
  padding: .2rem .2rem;
  margin: .2rem;
  background-color: #55d400;
  color: #000;
}

.hash .entry {
  display: block;
  background-color: #008000;
}