html {
  overflow-y: scroll;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;    
}

body {
  margin: 0;
}

.editor {
  font-family: sans-serif;
  width: 80%;
  margin: 0 auto;
  vertical-align: top;
  vertical-align: text-top;
  box-shadow: 0px 30px 50px 10px #888888;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .editor {
    width: 100%;
    margin: 0;
    font-size: 3rem;
  }
}

.module, .function {
  display: block;
  padding: .2rem .3rem;
  margin: .3rem .1rem;
  background-color: #112b00;
  border: .3rem solid #d9ff80;
  color: #b3ff80;
}

.module {
  padding: 4px;
  margin: 0;
}

.assignment, .return, .function .expressions, .binary, .ternary, .call, .new {
  display: block;
  padding: .2rem .2rem .2rem 0;
  margin: .3rem;
  background-color: #d9ff80;
  color: #222b00;
}

.binary, .ternary, .var, .call, .new, .keyword, .name {
  display: inline-block;
  margin-right: .2rem;
  margin-left: 0;
}

.call, .new {
  margin: .2rem 0;
  padding: 0;
}

.assignment, .function > .expressions {
  padding-left: .4rem;
}

.assignment > .rvalue, .if > .then, .if > div > .else {
  display: block;
  margin: .3rem .3rem .3rem 0;
  background-color: #cbe87;
  border: .3rem solid #447821;
  color: #222b00;
}

.if > .then, .if > div > .else {
  display: inline-block;
  border: .4rem solid #112b00;
  margin: .2rem .4rem;
}

.keyword {
  margin-left: .1rem;
  font-weight: bold;
}

.function > .keyword {
  font-weight: normal;
}

.assignment > .op {
  float: right;
  margin: .4rem .4rem 0 0;
}

.assignment {
  margin: .4rem 0;
}

.op, .entry {
  display: inline-block;
}

.op {
  font-weight: bold;
  margin-left: .1rem;
  margin-right: .2rem;
}

.prop {
  display: inline-block;
  margin: 0 .2rem;
}

.prop > .op {
  font-size: 2em;
  line-height: 0;
  margin-right: .2rem;
}

.parens {
  margin: 0 .2rem;
  padding-left: .4rem;
  padding-right: .4rem;
}

.ref {
  display: inline-block;
}

.module .expressions .name, .args > .arg {
  display: inline-block;
  padding: .2rem .4rem;
  margin: .1rem .2rem;
  background-color: #f1f6ac;
  box-shadow: 0px 0px 15px 1px #447821;
  color: #000;
}

.args, .arg {
  display: inline-block;
  margin: 0 .1rem;
  padding: .2rem;
  color: #000;
  background-color: #447821;
}

.args::before {
  content: '(';
  font-weight: bold;
}

.args::after {
  content: ')';
  font-weight: bold;
}

.args > .arg-expression {
  padding: .2rem .4rem;
}

.function > .args {
  margin-left: .4rem;
}

.function > .keyword {
  margin-left: .4rem;
}

.collapse {
  margin: .8rem .4rem 0 4px;
  float: right;
  width: .8em;
  height: .8em;
  background-color: #00a280;
  border: .1em solid #000;
  border-radius: 1em;
}

.collapse:hover {
  background-color: #f7ff9d;
}

.collapse::after {
  position: relative;
  width: 10px;
  color: #00222b;
  text-align: center;
  font-size: 1.2em;
}

.collapse.expanded::after {
  content: '\25BE';
  left: .05rem;
  top: -.3rem;
}

.collapse.collapsed::after {
  content: '\25B8';
  left: .1rem;
  top: -.3rem;
}

@media (max-width: 1024px) {
  .collapse.expanded::after {
    left: .2rem;
    top: -.9rem;
  }

  .collapse.collapsed::after {
    left: .4rem;
    top: -1rem;
  }
}

.collapsible.expanded {
  max-height: 9999px;
  opacity: 1;
  overflow: visible;
  transition: opacity 0s, max-height 1s;
}

.collapsible.collapsed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  transition: max-height .1s, opacity 0 .1s, margin 0 .1s, padding 0 .1s;
}

.literal, .hash .entry > .key {
  display: inline-block;
  padding: .2rem .4rem;
  margin: .1rem .2rem;
  background-color: #5fbcd3;
  border: 1px solid black;
  color: #00222b;
}

.parens {
  display: inline-block;
  border: .2rem solid #112b00;
}

.hash, .hash .entry {
  display: block;
  padding: .2rem .2rem;
  margin: .2rem;
  background-color: #55d400;
  color: #000;
}

.hash .entry {
  display: block;
  background-color: #008000;
}

.draggable {
  cursor: move;
}

.ui-draggable-dragging {
  opacity: .8;
}

.symbol-droppable {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: .1em;
  height: 1.2em;
  width: .3em;
}

.symbol-droppable-active {
  background-color: #09f;
  box-shadow: 0 0 1px 1px #000;
  transition: width .25s;
}

.symbol-drop-acceptable {
  background-color: #fff;
}

.symbol-drop-disabled {
  background-color: #09f;
}