@args-background-color: #888;
@args-box-shadow: #000;
@collapse-border-color: #000;
@collapse-background-color: #000;
@collapse-hover-background-color: #000;
@conditional-border-color: #000;
@draggable-overdrop-box-shadow: #000;
@drop-acceptable-background-color: #fff;
@drop-acceptable-box-shadow: #ccc;
@droppable-active-background-color: #afa;
@droppable-active-box-shadow: #000;
@droppable-outline-border-color: #000;
@expression-background-color: #ccc;
@expression-color: #000;
@expressions-background-color: #fff;
@function-background-color: #000;
@function-keyword-color: #fff;
@hash-background-color: #fff;
@hash-entry-background-color: #fff;
@literal-background-color: #333;
@literal-color: #fff;
@module-background-color: #000;
@module-name-color: #fff;
@parens-border-color: #000;
@symbol-background-color: #fff;
@symbol-box-shadow: #000;
@symbol-color: #000;

@import '../editor.less';